body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:sans-serif ;
    background-color: rgb(212, 218, 226);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background: linear-gradient(to left,#a72190,#ecb6e3);
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid#a72190;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}   

header nav{
    float: right;
    margin-top: 15px;
}

header li{
    float: left;
    display: inline;
    padding: 0 2px 0 20px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

ul{
    margin: 0;
    padding: 0;
}

header #branding,header .active a{
    color: white;
    font-weight: bold;
}

header a:hover{
    color:#a72190 ;
    font-weight: bold;
}

#showcase{
    min-height: 400px;
    background-origin: url('../MODUL-5/showcasee.jpg') no-repeat 0px -70px;
    text-align: center;
    color: #a72190
}

#showcase h1{
    margin-top: 120px;
    font-size: 55px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #a72190;
}

#mewsletter{
    padding: 15px;
    color: white;
    background: linear-gradient(to left,#e0a4d6,#a72190);
    border-top: 3px solid#a72190
}

#mewsletter h1{
    float: left;
}

#mewsletter form{
    float: right;
    margin-top: 15px;
}

#mewsletter input[type="search"]{
    float: right;
    margin-top: 15px;
    padding: 4px;
    width: 195px;
    height: 25px;
}

#mewsletter button[class="klik"]{
    float: right;
    margin-top: 15px;
    padding: 4px;
    width: 50px;
    height: 25px;
}

.klik{
    height: 40px;
    background-color: #a72190;
    border: 0;
    padding-right:20px ;
    padding-left: 20p;
    color: white;
}

#boxes{
    margin-top: 20px;
}

#boxes .boxx{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .boxx img{
    width: 95%;
    
}

footer{
    background: linear-gradient(to left,#a72190,#e4a3d9);
    color: #ffffff;
    margin-top: 20px;
    font-weight: bold;
    padding-top: 30px;
    border-bottom: 3px solid#a72190;
    text-align:center ;
}